input.formin:focus,textarea#mensaje1:focus{
    border: 2px solid rgba(7, 173, 2, 0.733);
}
input[type="submit"]{
    border:none;
    background: rgba(54, 179, 50, 0.733);
    font-size:20px;
    font-family:Verdana;
    font-weight:bold;
    color:white;
    border:6px rgb(8, 173, 8) solid;
    border-right: 3px green solid;
    border-left: 3px green solid;
    width:50%;
    height:50px;
}
input[type="submit"]:hover{
    animation: 2.5s b_enviar1 infinite;

}
@keyframes b_enviar1{
    50%{
    color: rgb(15, 102, 37);
    background: rgba(67, 250, 61, 0.733);
    }
}
textarea{
    resize: none;
}
form{
    position: absolute;
}
input.formin{
    display: block;
    margin: 1%;
    margin-top:2%;
    padding: 2%;
    position: relative;
}
#name,#email{
    left: 85%;
    bottom: -3em;
    margin-top: 5%;
}
#mensaje1{
    display:block;
    padding:1%;
    margin-bottom: 1%;
    left: 160%;
    position: relative;
    bottom: 6em;
    border-radius: 5px;
}
#enviar1{
    position: relative;
    margin-left: 155%;
    bottom:4em;
}
h1{
    text-align:center;
}
body{
    background-color: rgba(233, 197, 144, 0.575);
    margin: 0px;
    padding: 0px;
}
@keyframes recargap1{
    30%{
        background: rgb(255, 255, 255);
        opacity: 0
    }
}
ul{
    margin: 0px;
    padding: 0px;
    list-style:none;
}
li{
    margin: 0px;
    padding: 0px;
}
div.menu1{
    z-index: 50;
    animation:1s recargadiv1 1;
    background-color: rgb(52, 165, 99);
    width: 100%;
    height: 14%;
    font-size:20px;
    border-bottom: 6px rgb(3, 54, 23) solid;
    border-top: 5px rgb(3, 54, 23) solid;
    position: fixed;
    top: 0%;
    /* overflow: hidden; */
}
div.space{
    margin:120px;
}
a#div1m{
    left: 10%;
}
a#div2m{
    left: 27%;
}
a#div3m{
    left: 48%;
}
a#div4m{
    left: 70%;
}
a.menua1{
    background: rgb(54, 204, 116);
    text-decoration: none;
    text-transform: capitalize;
    color:white;
    font-size: 40px;
    text-shadow:rgb(27, 80, 179) 2px 0;
    margin:40px;
    margin-bottom:20px;
    padding:10px;
    position: fixed;
    bottom:84%;
    border: 3px solid black;
    font-weight: bold;
    border-width: thin;
}
a.menua1:hover{
    background: rgba(red, green, blue, alpha);
    font-size:38px;
    border: 3px solid black;
    animation: infinite change_color1 .8s;
}
@keyframes change_color1{
    40%{
        border: 3px solid black;
        opacity: 0.6;
    }
    80%{
        border: 3px solid black;
    }
}
@keyframes recargadiv1{
    30%{
        background: rgb(6, 148, 65);
    }
}